global
    log stdout format raw local0 info
    maxconn 4096
    limited-quic
defaults
    mode http
    log global
    option httplog
    option http-keep-alive
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    timeout http-request 10s
    timeout http-keep-alive 5s
frontend web
    bind quic4@0.0.0.0:4434 ssl crt /certs/lab.pem alpn h3
    bind 0.0.0.0:4434 ssl crt /certs/lab.pem alpn h2,http/1.1
    http-response set-header alt-svc "h3=\":4434\"; ma=86400"
    default_backend origins
backend origins
    # aggressive pooling so a desynced backend conn is reused by the next request
    http-reuse always
    server origin1 tap_eo:8081
